/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1rem;
}

p, a, label, input, button {
    font-size: 20px;
}

p {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: rgb(170, 152, 169, 0.4);
    font-size: 26px;
    border: 3px solid rgb(58,48,58);
    padding: 5px 20px;
}

label {
    margin: 10px 0 5px 0;
    opacity: 0.8;
    display: block;
}

input {
    padding: 2px 4px;
}

legend {
    font-size: 28px;
}

/* Header */
.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(58, 48, 58, 0.35) 0px 5px 15px;
}

.header_logo {
    color: rgb(58,48,58);
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
    position: relative;
}

.dropdown_icon {
    font-size: 16px;
    margin-left: 10px;
}

.dropdown_links {
    text-align: end;
    box-shadow: rgba(58, 48, 58, 0.35) 0px 5px 15px;
    transform: translateY(0.5rem);
    visibility: hidden;
    position: absolute;
    opacity: 0;
}

.show_dropdown {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
}

.arrow_icon {
    transform: rotate(180deg);
    transition: 0.2s ease;
}

.dropdown_link {
    width: 100%;
    display: inline-block;
    padding: 10px 10px 10px 20px;
}

.dropdown_link:hover {
    background-color: rgb(170, 152, 169, 0.4);
}

/*Navigation*/
.nav {
    width: 20%;
    display: flex;
    background-color: rgb(170, 152, 169, 0.15);
    flex-direction: column;
}

.nav_link {
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid rgb(170, 152, 169, 0.5);
}


/*Welcome page*/
.welcome-container {
    width: 60%;
    margin: 0 auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-container p,
.welcome-container h1{
    text-align: center;
}

.welcome-container h1 {
    font-size: 45px;
    font-weight: bold;
}

.welcome-container p {
    font-size: 26px;
}

.welcome_register {
    margin-top: 10px;
    background-color: rgb(170, 152, 169, 0.4);
    font-size: 26px;
    border: 3px solid rgb(58,48,58);
    padding: 5px 20px;
}

/*Guest, Register, Login, Password*/
.auth_container {
    max-width: 40%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth_logo {
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(58,48,58)
}

.auth_form fieldset {
    padding: 20px;
}

.auth_form input {
    width: 100%;
}

.auth_form button {
    margin-right: 10px;
}

.auth_form_register,
.auth_form_login {
    margin-top: 20px;
}

.auth_form_remember label {
    width: 100%;
    display: flex;
    align-items: center;
}

/*App layout*/
.container {
    display: flex;
    height: calc(100vh - 87px);
}
